$blue: hsl(191, 60%, 66%) !default;
$green: hsl(173, 33%, 70%) !default;
$yellow: hsl(48, 40%, 86%) !default;
$pink: hsl(329, 44%, 85%) !default;
$orchid: hsl(298, 21%, 75%) !default;
$coffee: hsl(24, 7%, 56%) !default;

$oneofsix: 1 / 6 * 100%;

