@import "normalize", "variables";

body {
  background-image: url(../images/bg_2.png);
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.pink {
  background-color: $pink;
}

.orchid {
  background-color: $orchid;
}

.coffee {
  background-color: $coffee;
}

.color-stripper {
  > div {
    float: left;
    width: $oneofsix;
    height: 10px;
    opacity: .66;
  }
}

.wrapper {
  margin: 0 auto;
}

@media (max-width: 320px) {
  .wrapper {
    width: 100%;
    .namecard{
      .name {
        position: absolute;
        top: 30px;
        left: 0;
        font-size: 30px;
        line-height: .1;
        color: $coffee;
        text-shadow: 1px 1px 1px white, 2px 2px 0 hsla(0, 0%, 0%, .25);
      }
      .avatar {
        position: absolute;
        right: 0;
        top: 30px;
        width: 40px;
        border: 2px solid lighten($coffee, 25%);
      }
    }
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .wrapper {
    width: 100%;
    .namecard{
      .name {
        position: absolute;
        top: 60px;
        left: 5%;
        font-size: 40px;
        line-height: .1;
        color: $coffee;
        text-shadow: 2px 2px 1px white, 3px 3px 0 hsla(0, 0%, 0%, .25);
      }
      .avatar {
        position: absolute;
        right: 5%;
        top: 60px;
        width: 50px;
        border: 5px solid lighten($coffee, 25%);
      }
    }
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .wrapper {
    width: 75%;
    .namecard{
      .name {
        position: absolute;
        top: 75px;
        left: 5%;
        font-size: 60px;
        line-height: .1;
        color: $coffee;
        text-shadow: 2px 2px 1px white, 3px 3px 0 hsla(0, 0%, 0%, .25);
      }
      .avatar {
        position: absolute;
        right: 5%;
        top: 75px;
        width: 80px;
        border: 5px solid lighten($coffee, 25%);
      }
    }
  }
}

@media (min-width: 1201px) {
  .wrapper {
    width: 60%;

    .namecard{

      .name {
        position: absolute;
        top: 100px;
        left: 5%;
        font-size: 72px;
        line-height: .1;
        color: $coffee;
        text-shadow: 2px 2px 1px white, 3px 3px 0 hsla(0, 0%, 0%, .25);
      }
      .avatar {
        position: absolute;
        right: 5%;
        top: 100px;
        width: 90px;
        border: 5px solid lighten($coffee, 25%);
      }

      .wanna {
        position: absolute;
        top: 225px;
        right: 5px;
        font-size: 30px;
        border: 1px solid #000000;
      }
    }
  }
}

.namecard {
  position: relative;
  width: 50%;
  margin: 0 auto;

  .avatar.rounded {
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
  }
}
