/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 23, ../../source/styles/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../../source/styles/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 60, ../../source/styles/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 72, ../../source/styles/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 86, ../../source/styles/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 97, ../../source/styles/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 108, ../../source/styles/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 117, ../../source/styles/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 129, ../../source/styles/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 138, ../../source/styles/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 152, ../../source/styles/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 161, ../../source/styles/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 197, ../../source/styles/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 236, ../../source/styles/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 245, ../../source/styles/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 252, ../../source/styles/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 256, ../../source/styles/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 311, ../../source/styles/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 322, ../../source/styles/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 333, ../../source/styles/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 341, ../../source/styles/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 351, ../../source/styles/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 363, ../../source/styles/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 391, ../../source/styles/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 405, ../../source/styles/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 417, ../../source/styles/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 434, ../../source/styles/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 447, ../../source/styles/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 456, ../../source/styles/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 466, ../../source/styles/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 477, ../../source/styles/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 493, ../../source/styles/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 503, ../../source/styles/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 517, ../../source/styles/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 525, ../../source/styles/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 538, ../../source/styles/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 551, ../../source/styles/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 560, ../../source/styles/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 571, ../../source/styles/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 577, ../../source/styles/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 3, ../../source/styles/application.scss */
body {
  background-image: url(../images/bg_2.png);
}

/* line 7, ../../source/styles/application.scss */
.blue {
  background-color: #74c9dc;
}

/* line 11, ../../source/styles/application.scss */
.green {
  background-color: #99ccc6;
}

/* line 15, ../../source/styles/application.scss */
.yellow {
  background-color: #eae4cd;
}

/* line 19, ../../source/styles/application.scss */
.pink {
  background-color: #eac8d9;
}

/* line 23, ../../source/styles/application.scss */
.orchid {
  background-color: #ccb2cd;
}

/* line 27, ../../source/styles/application.scss */
.coffee {
  background-color: #978d87;
}

/* line 32, ../../source/styles/application.scss */
.color-stripper > div {
  float: left;
  width: 16.66667%;
  height: 10px;
  opacity: .66;
}

/* line 40, ../../source/styles/application.scss */
.wrapper {
  margin: 0 auto;
}

@media (max-width: 320px) {
  /* line 45, ../../source/styles/application.scss */
  .wrapper {
    width: 100%;
  }
  /* line 48, ../../source/styles/application.scss */
  .wrapper .namecard .name {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 30px;
    line-height: .1;
    color: #978d87;
    text-shadow: 1px 1px 1px white, 2px 2px 0 rgba(0, 0, 0, 0.25);
  }
  /* line 57, ../../source/styles/application.scss */
  .wrapper .namecard .avatar {
    position: absolute;
    right: 0;
    top: 30px;
    width: 40px;
    border: 2px solid #d2cecb;
  }
}
@media (min-width: 321px) and (max-width: 640px) {
  /* line 69, ../../source/styles/application.scss */
  .wrapper {
    width: 100%;
  }
  /* line 72, ../../source/styles/application.scss */
  .wrapper .namecard .name {
    position: absolute;
    top: 60px;
    left: 5%;
    font-size: 40px;
    line-height: .1;
    color: #978d87;
    text-shadow: 2px 2px 1px white, 3px 3px 0 rgba(0, 0, 0, 0.25);
  }
  /* line 81, ../../source/styles/application.scss */
  .wrapper .namecard .avatar {
    position: absolute;
    right: 5%;
    top: 60px;
    width: 50px;
    border: 5px solid #d2cecb;
  }
}
@media (min-width: 641px) and (max-width: 1200px) {
  /* line 93, ../../source/styles/application.scss */
  .wrapper {
    width: 75%;
  }
  /* line 96, ../../source/styles/application.scss */
  .wrapper .namecard .name {
    position: absolute;
    top: 75px;
    left: 5%;
    font-size: 60px;
    line-height: .1;
    color: #978d87;
    text-shadow: 2px 2px 1px white, 3px 3px 0 rgba(0, 0, 0, 0.25);
  }
  /* line 105, ../../source/styles/application.scss */
  .wrapper .namecard .avatar {
    position: absolute;
    right: 5%;
    top: 75px;
    width: 80px;
    border: 5px solid #d2cecb;
  }
}
@media (min-width: 1201px) {
  /* line 117, ../../source/styles/application.scss */
  .wrapper {
    width: 60%;
  }
  /* line 122, ../../source/styles/application.scss */
  .wrapper .namecard .name {
    position: absolute;
    top: 100px;
    left: 5%;
    font-size: 72px;
    line-height: .1;
    color: #978d87;
    text-shadow: 2px 2px 1px white, 3px 3px 0 rgba(0, 0, 0, 0.25);
  }
  /* line 131, ../../source/styles/application.scss */
  .wrapper .namecard .avatar {
    position: absolute;
    right: 5%;
    top: 100px;
    width: 90px;
    border: 5px solid #d2cecb;
  }
  /* line 139, ../../source/styles/application.scss */
  .wrapper .namecard .wanna {
    position: absolute;
    top: 225px;
    right: 5px;
    font-size: 30px;
    border: 1px solid #000000;
  }
}
/* line 150, ../../source/styles/application.scss */
.namecard {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
/* line 155, ../../source/styles/application.scss */
.namecard .avatar.rounded {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
