doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title OT's Personal Resume

    link(href="styles/application.css", rel="stylesheet")

  body
    include partials/_color_stripper

    .wrapper

      include partials/_namecard
